conflict-globe-n8n.json
{
  "name": "Conflict Globe - Self-Hosted AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-analysis",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receive Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "conflict-globe-ai"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "llama3.2:latest"},
            {"name": "messages", "value": "[{\"role\": \"system\", \"content\": \"You are a military intelligence analyst. Provide brief threat assessment.\"}, {\"role\": \"user\", \"content\": \"{{ $json.description }}\"}]"},
            {"name": "stream", "value": false}
          ]
        },
        "options": {"timeout": 120000}
      },
      "id": "ollama",
      "name": "Ollama (Self-Hosted)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "qwen2.5:7b"},
            {"name": "messages", "value": "[{\"role\": \"system\", \"content\": \"You are a geopolitical analyst. Summarize key points.\"}, {\"role\": \"user\", \"content\": \"{{ $json.description }}\"}]"},
            {"name": "stream", "value": false}
          ]
        },
        "options": {"timeout": 120000}
      },
      "id": "ollama2",
      "name": "Qwen (Backup)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const item = $input.first().json;\nconst aiResponse = item.message?.content || '';\n\nreturn { json: {\n  id: item.id || 'event-' + Date.now(),\n  lat: parseFloat(item.lat) || 0,\n  lon: parseFloat(item.lon) || 0,\n  date: item.date || new Date().toISOString(),\n  type: item.type || 'AI Analysis',\n  description: item.description || '',\n  source: 'Ollama',\n  category: item.category || 'conflict',\n  severity: item.severity || 'medium',\n  aiAnalysis: aiResponse,\n  analyzedAt: new Date().toISOString()\n}};"
      },
      "id": "format",
      "name": "Format Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8080/api/webhook",
        "options": {}
      },
      "id": "globe",
      "name": "Send to Globe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1482135247977054419/J_YFeTGGt8gtFv7OrWlJzuP0jeTovwWvAbRoF78Jxjuh0HjTHVqxCa0Ic_poSD072-Yd",
        "bodyParameters": {
          "parameters": [
            {"name": "embeds", "value": "[{\"title\": \"🤖 AI Analysis\", \"color\": 3066993, \"fields\": [{\"name\": \"Event\", \"value\": \"{{ $json.type }}\", \"inline\": true}, {\"name\": \"Analysis\", \"value\": \"{{ $json.aiAnalysis }}\", \"inline\": false}], \"footer\": {\"text\": \"Conflict Globe\"}}]"}
          ]
        },
        "options": {}
      },
      "id": "discord",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 500],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Receive Events": {"main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]},
    "Loop Over Items": {"main": [[{"node": "Ollama (Self-Hosted)", "type": "main", "index": 0}]]},
    "Ollama (Self-Hosted)": {"main": [[{"node": "Format Result", "type": "main", "index": 0}]]},
    "Qwen (Backup)": {"main": [[{"node": "Format Result", "type": "main", "index": 0}]]},
    "Format Result": {"main": [[{"node": "Send to Globe", "type": "main", "index": 0}, {"node": "Discord Alert", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "versionId": "1"
}
