docker-api-workflow.json
{
  "name": "Conflict Globe - Docker API Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "hoursInterval": 1 }]
        }
      },
      "id": "schedule",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8080/api/conflicts",
        "options": {}
      },
      "id": "get-conflicts",
      "name": "Get Conflict Globe Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8080/api/cache/status",
        "options": {}
      },
      "id": "get-cache",
      "name": "Get Cache Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [0, 500]
    },
    {
      "parameters": {
        "functionCode": "const conflicts = $json.events?.length || 0;\nconst summary = $json.summary || {};\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    total_events: conflicts,\n    by_category: summary,\n    cache_size: summary.cached || 0\n  }\n}];"
      },
      "id": "aggregate",
      "name": "Format Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "## Conflict Globe Status\n\n**Total Events:** {{ $json.total_events }}\n**By Category:**\n{{ JSON.stringify($json.by_category, null, 2) }}\n\n**Timestamp:** {{ $json.timestamp }}",
        "options": {}
      },
      "id": "discord",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [500, 300],
      "webhookId": "conflict-status",
      "credentials": {
        "discordWebhookApi": {
          "id": "disc-cred",
          "name": "Discord Webhook"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{"node": "Get Conflict Globe Events", "type": "main", "index": 0}]]
    },
    "Get Conflict Globe Events": {
      "main": [[{"node": "Format Status", "type": "main", "index": 0}]]
    },
    "Format Status": {
      "main": [[{"node": "Discord Alert", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "active": true
}