n8n-conflict-globe-workflow.json
{
  "name": "Conflict Globe Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-alert",
        "options": {}
      },
      "id": "54797054-6810-432e-a26a-69457e374ed0",
      "name": "Webhook - Discord Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        528,
        960
      ],
      "webhookId": "conflict-globe-discord"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1482135247977054419/J_YFeTGGt8gtFv7OrWlJzuP0jeTovwWvAbRoF78Jxjuh0HjTHVqxCa0Ic_poSD072-Yd",
        "options": {}
      },
      "id": "779d0868-ff7e-4a83-b2d8-9c86415c89f6",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        944,
        896
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -16
      ],
      "typeVersion": 1,
      "id": "d51135ff-eb29-4eb6-84f8-27aed822e547",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -16
      ],
      "typeVersion": 1,
      "id": "e292429f-9f83-4fa4-b20a-65b048a865d1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-analysis",
        "options": {}
      },
      "id": "f51d50e9-48a1-4e9e-b371-801d8d722ef9",
      "name": "Webhook - Receive Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        336,
        336
      ],
      "webhookId": "conflict-globe-ai"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "7af30dcb-98e3-4bed-a24a-eb23414cfe4f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        592,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "options": {}
      },
      "id": "e6cb5d21-8421-4ef4-bf2f-3be8dd79e149",
      "name": "Ollama AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        848,
        336
      ]
    },
    {
      "parameters": {
        "functionCode": "const item = $input.first().json;\nconst aiResponse = item.message?.content || '';\n\n// Extract key info from AI response\nconst analysis = {\n  id: item.id || 'event-' + Date.now(),\n  lat: parseFloat(item.lat) || 0,\n  lon: parseFloat(item.lon) || 0,\n  date: item.date || new Date().toISOString(),\n  type: item.type || 'AI Analysis',\n  description: item.description || '',\n  source: 'Ollama AI',\n  category: item.category || 'conflict',\n  severity: item.severity || 'medium',\n  aiAnalysis: aiResponse,\n  analyzedAt: new Date().toISOString()\n};\n\nreturn { json: analysis };"
      },
      "id": "d5eb54a4-634e-4884-b1e1-689738fe6419",
      "name": "Format Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1072,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8080/api/webhook",
        "options": {}
      },
      "id": "ebad5112-ffc5-48ca-a15c-08711cfd9884",
      "name": "Send Back to Globe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1344,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "id": "0e78a743-d082-4aa4-86a8-90e660fac929",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1344,
        544
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Process each conflict event\nconst item = $input.first();\nconst event = item.json;\n\n// Add AI analysis\nconst analysis = {\n  sentiment: event.severity === 'critical' ? 'negative' : 'neutral',\n  threatLevel: event.severity || 'medium',\n  region: detectRegion(event.lat, event.lon),\n  processed: true,\n  timestamp: new Date().toISOString()\n};\n\nfunction detectRegion(lat, lon) {\n  if (lat > 35 && lat < 70 && lon > 20 && lon < 60) return 'Europe/CIS';\n  if (lat > 10 && lat < 40 && lon > 30 && lon < 60) return 'Middle East';\n  if (lat > 0 && lat < 30 && lon > 100 && lon < 130) return 'Asia Pacific';\n  if (lat > 25 && lat < 50 && lon > -130 && lon < -60) return 'Americas';\n  return 'Other';\n}\n\nreturn { json: { ...event, analysis } };"
      },
      "id": "cfd10cea-c2e5-4596-b516-191131b3afca",
      "name": "Process Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -384,
        224
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "6586ec3a-8726-4b75-8b9a-03a180808164",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -160,
        288
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "id": "e5bb6eb4-d052-4760-9e25-37d405a8c056",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -144,
        512
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conflict-events",
        "options": {}
      },
      "id": "cbbd948f-e1b4-4a1f-a1b2-968fa48288cf",
      "name": "Webhook - Receive Events1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1072,
        208
      ],
      "webhookId": "conflict-globe-events"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5fd97ae7-c4f6-445f-8f9b-44c429a1daa2",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -688,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8080/api/webhook",
        "options": {}
      },
      "id": "bd33b582-791e-42e2-95b1-bb84136ddb28",
      "name": "Send Back to Globe1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -112,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Discord Alert": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Events": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Ollama AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama AI Analysis": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Send Back to Globe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Event": {
      "main": [
        [
          {
            "node": "Send Back to Globe1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Events1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Process Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Alert": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "807ef08a-4e1c-430a-9132-78cadda82db7",
  "meta": {
    "instanceId": "73b2eb9fdee10968dcb9e86dd6af1ad7df40477113c088439b8dc7af9b3e3e01"
  },
  "id": "eUOZIjeUCayIEWJg",
  "tags": []
}