ollama-workflow.json
{
  "name": "Conflict Globe - AI Analysis with Ollama",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-analysis",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receive Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "conflict-globe-ai"
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "loop-items",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/chat",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2:latest"
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"system\", \"content\": \"You are a military intelligence analyst. Analyze conflict events and provide threat assessment.\"}, {\"role\": \"user\", \"content\": \"Analyze this event:\\nType: {{ $json.type }}\\nDescription: {{ $json.description }}\\nLocation: {{ $json.lat }}, {{ $json.lon }}\\nSeverity: {{ $json.severity }}\\nCategory: {{ $json.category }}\\n\\nProvide a brief threat assessment (1-2 sentences) and recommended response.\"}]"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "ollama",
      "name": "Ollama AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "functionCode": "const item = $input.first().json;\nconst aiResponse = item.message?.content || '';\n\n// Extract key info from AI response\nconst analysis = {\n  id: item.id || 'event-' + Date.now(),\n  lat: parseFloat(item.lat) || 0,\n  lon: parseFloat(item.lon) || 0,\n  date: item.date || new Date().toISOString(),\n  type: item.type || 'AI Analysis',\n  description: item.description || '',\n  source: 'Ollama AI',\n  category: item.category || 'conflict',\n  severity: item.severity || 'medium',\n  aiAnalysis: aiResponse,\n  analyzedAt: new Date().toISOString()\n};\n\nreturn { json: analysis };"
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "url": "http://web:8080/api/webhook",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "events",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-back",
      "name": "Send Back to Globe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "webhook": {
          "url": "https://discord.com/api/webhooks/1482135247977054419/J_YFeTGGt8gtFv7OrWlJzuP0jeTovwWvAbRoF78Jxjuh0HjTHVqxCa0Ic_poSD072-Yd"
        },
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": "=[{\"title\": \"🤖 AI Analysis Complete\", \"color\": 3066993, \"fields\": [{\"name\": \"Event\", \"value\": \"{{ $json.type }}\", \"inline\": true}, {\"name\": \"Analysis\", \"value\": \"{{ $json.aiAnalysis }}\", \"inline\": false}], \"footer\": {\"text\": \"Conflict Globe AI\"}, \"timestamp\": \"{{ $now }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "discord",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 500],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Receive Events": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Ollama AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama AI Analysis": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Send Back to Globe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-13T00:00:00.000Z",
  "versionId": "1"
}
