simple-workflow.json
{
  "name": "Conflict Globe - Simple AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "conflict-ai"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "llama3.2:latest"},
            {"name": "messages", "value": "[{\"role\": \"system\", \"content\": \"Analyze this event briefly.\"}, {\"role\": \"user\", \"content\": \"{{ $json.description }}\"}]"},
            {"name": "stream", "value": false}
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "ollama",
      "name": "Ollama AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "const item = $input.first().json;\nreturn [{ json: { ...item.json, aiResponse: item.message?.content || \"No response\" }}];"
      },
      "id": "format",
      "name": "Format Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Ollama AI", "type": "main", "index": 0}]]
    },
    "Ollama AI": {
      "main": [[{"node": "Format Result", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "versionId": "1"
}
