ssh-management-workflow.json
{
  "name": "Conflict Globe - SSH Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "hoursInterval": 1 }]
        }
      },
      "id": "schedule",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-250, 300]
    },
    {
      "parameters": {
        "host": "localhost",
        "port": 22,
        "command": "docker ps --filter name=conflict --format 'table {{.Names}}\t{{.Status}}\t{{.Ports}}'",
        "options": {}
      },
      "id": "ssh-status",
      "name": "Check Container Status",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "host": "localhost",
        "port": 22,
        "command": "docker stats --no-stream --format '{{.Name}}: {{.CPUPerc}} {{.MemUsage}}'",
        "options": {}
      },
      "id": "ssh-stats",
      "name": "Check Resources",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [0, 500]
    },
    {
      "parameters": {
        "host": "localhost",
        "port": 22,
        "command": "curl -s http://localhost:8080/api/health",
        "options": {}
      },
      "id": "ssh-health",
      "name": "Check Web Health",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [0, 700]
    },
    {
      "parameters": {
        "host": "localhost",
        "port": 22,
        "command": "curl -s http://localhost:5678",
        "options": {}
      },
      "id": "ssh-n8n-health",
      "name": "Check n8n Health",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [0, 900]
    },
    {
      "parameters": {
        "functionCode": "const status = $json;\nconst result = {\n  timestamp: new Date().toISOString(),\n  conflict_containers: status.stdout || 'Unknown',\n  resources: $item(1).json.stdout || 'Unknown',\n  web_health: $item(2).json.stdout || 'Unknown',\n  n8n_health: $item(3).json.stdout || 'Unknown'\n};\nreturn [{ json: result }];"
      },
      "id": "aggregate",
      "name": "Aggregate Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "## Conflict Globe Status\n\n**Containers:**\n{{ $json.conflict_containers }}\n\n**Resources:**\n{{ $json.resources }}\n\n**Web Health:**\n{{ $json.web_health }}\n\n**n8n Health:**\n{{ $json.n8n_health }}\n\n**Timestamp:**\n{{ $json.timestamp }}",
        "options": {}
      },
      "id": "discord",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [500, 500],
      "webhookId": "conflict-globe-status",
      "credentials": {
        "discordWebhookApi": {
          "id": "disc-cred",
          "name": "Discord Webhook"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{"node": "Check Container Status", "type": "main", "index": 0}]]
    },
    "Check Container Status": {
      "main": [[{"node": "Check Resources", "type": "main", "index": 0}]]
    },
    "Check Resources": {
      "main": [[{"node": "Check Web Health", "type": "main", "index": 0}]]
    },
    "Check Web Health": {
      "main": [[{"node": "Check n8n Health", "type": "main", "index": 0}]]
    },
    "Check n8n Health": {
      "main": [[{"node": "Aggregate Status", "type": "main", "index": 0}]]
    },
    "Aggregate Status": {
      "main": [[{"node": "Discord Alert", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "active": true
}
